.botoes {
    margin-left: 10px;
    background-color: #242527;
  
  }

  .botoesnumericos{
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    color: #eeeeee;
  }

  .botao {
    margin-bottom: 20px;
    width: 60px;
    height: 40px;
    margin-left: 3px;
    background-color: #2f3640;
  }
  .botao-funcao {
    font-size: 9px;
  }
  
  .botao-corrigir {
    background-color: #ff841f;
  }
  .botao-branco {
    background-color: #eeeeee;
  }
  .botao-confirmar {
    background-color: #7daa44;
  }
  