.urna-votos-numeros{
    text-align: left;
    margin-left: 20px;
    display: flex;    
}

.urna-voto-numero{
    width: 45px;
    height: 55px;
    margin-bottom: 20px;
    background-color: white;
    color: black;
    border: 1px solid black;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}